rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /students/{email} {
      // Anyone can read a student document, enabling simple authentication on the frontend
      allow get: if true;
      
      // Only the admin can list, create, update, or delete users
      allow list, write: if request.auth != null && request.auth.token.email == "admin@patreze.com";
    }
  }
}
